<%- include('header') -%>
<div class="container">
    <div class="padding-top">
    <div class="row">
    <div class="column-md-4">
        <div class="contain-box">
            <h1 class="big-text">
                ORDER YOUR HOME MADE <span>FOOD</span> AND  <span>SNACKS</span> WITH THE FASTEST DELIVERY YOU CAN THINK OFF
            </h1>
            <p class="big-text-description">
                Our job is to fill your tummy with delicious food and to get it for you at the fastest delivery
            </p>
            <div class="buttons"><a href="/menu" class="shopping-btn">Get Started</a></div>
        </div>
    </div>
    <div class="column-md-8">
        <div class="contain-box">
            <img src="/images/front-image.jpg" alt="images">
        </div>
    </div>
    </div>
    <h4 class="section-header">What We Serve</h4>
    <div class="row">
        <div class="column-md-4 serve-container">
            <div>
                <img src="/images/Eating together.png" alt="">
                <p>
                    We Serve different types of foods and snacks, including local meals, Assorted snacks and light meals
                </p>
            </div>
        </div>
        <div class="column-md-4 serve-container">
            <div>
            <img src="/images/Delivery.png" alt="">
            <p>
                We delivery food to your at the fastest time to your particular zone
            </p>
            </div>
        </div>
        <div class="column-md-4 serve-container">
            <div>
                <img src="/images/Drink.png" alt="">
                <p>
                    We Serve Drinks of different types, both acholic and non-acholic to help refresh your food
                </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<%- include('footer') -%>
            
     