<form action="" method="post">
    <label><input type="checkbox" name="interest" value="Songs" > Songs</label>
    <label><input type="checkbox" name="interest" value="Video" > Video</label>
    <label><input type="checkbox" name="interest" value="Theme" > Time</label>
    <label><input type="checkbox" name="stuff"> Remember</label>
    <input type="submit" value="Submit">
    <%= locals.request.cart %>
</form>